:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #333333;
    --text-color-dark: #ffffff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 2px;
    font-family: Arial, sans-serif;
}

textarea {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    width: 750px;
    height: 550px;
    border: none;
    padding: 8px;
    box-sizing: border-box;
}

textarea:focus {
    outline: 2px solid yellow;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }

    textarea {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}
